.container {
  width: 200px;
  height: 200px;
}
.circle1,
.circle2,
.circle3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

.circle1 {
  background-color: red;
  border: 1px solid red;
  position: relative;
  animation-duration: 1.5s;
  animation-name: anim;
  animation-iteration-count: infinite;
}
.circle2 {
  background-color: yellow;
  border: 1px solid yellow;
  position: relative;
  animation-duration: 1.5s;
  animation-name: anim;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}
.circle3 {
  background-color: blue;
  border: 1px solid blue;
  position: relative;
  animation-duration: 1.5s;
  animation-name: anim;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
@keyframes anim {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
