.container {
  display: grid;
  grid-gap: 10px;
  width: 500px;
  height: 100%;
  background-color: black;
}

.item {
  text-align: center;
  height: 50px;
  background-color: white;
}

.item:nth-child(3) {
  background-color: red;
}
.item:nth-child(4) {
  background-color: blue;
}
.item:nth-child(7) {
  background-color: yellow;
}
